@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .no-tailwindcss-base h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: revert;
        font-weight: revert;
        margin: revert;
    }
}

span[aria-current="page"] span {
    @apply bg-primary text-white;
}

/* .performances__list {
    list-style: circle !important;
} */
